asgiref==3.4.1
backports.entry-points-selectable==1.1.0
blinker==1.4
breezy==3.1.0
Brlapi==0.8.2
certifi==2020.6.20
chardet==4.0.0
configobj==5.0.6
cryptography==3.3.2
cupshelpers==1.0
dbus-python==1.2.16
Deprecated==1.2.11
distlib==0.3.2
distro==1.5.0
distro-info==1.0
Django==3.2.8
docopt==0.6.2
dulwich==0.20.15
fastimport==0.9.8
filelock==3.0.12
flake8==3.9.2
fuse-python==1.0.2
gpg===1.14.0-unknown
greenlet==0.4.17
httplib2==0.18.1
idna==2.10
jeepney==0.6.0
keyring==22.0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.5
louis==3.16.0
mccabe==0.6.1
msgpack==1.0.0
num2words==0.5.10
oauthlib==3.1.0
olefile==0.46
patiencediff==0.2.1
pexpect==4.8.0
Pillow==8.1.2
pipenv==2021.5.29
platformdirs==2.3.0
pycairo==1.16.2
pycodestyle==2.7.0
pycups==2.0.1
pycurl==7.43.0.6
pyflakes==2.3.1
PyGithub==1.43.7
PyGObject==3.38.0
PyJWT==1.7.1
pylibacl==0.6.0
pynvim==0.4.2
pyOpenSSL==20.0.1
PyQt5==5.15.2
PyQt5-sip==12.8.1
PySimpleSOAP==1.16.2
pysmbc==1.0.23
python-apt==2.2.1
python-debian==0.1.39
python-debianbts==3.1.0
python-gitlab==2.5.0
pytz==2021.3
pyxattr==0.7.2
pyxdg==0.27
reportbug==7.10.3+deb11u1
reportlab==3.5.59
requests==2.25.1
SecretStorage==3.3.1
simplejson==3.17.2
six==1.16.0
sqlparse==0.4.2
suds-community==0.8.4
tornado==6.1
unattended-upgrades==0.1
urllib3==1.26.5
vboxapi==1.0
virtualenv==20.8.0
virtualenv-clone==0.5.7
wadllib==1.3.5
Werkzeug==0.11.15
wrapt==1.12.1
xdg==5
xlwt==1.3.0
